{% extends "layout.html" %}
{% block title %}
Add New Activity form
{% endblock %}
{% block content %}
<h1>Add New Activity</h1>

<form action="/addNewActivity" method="POST">
        <label for="groupid">Group ID:</label>
        <input type="number" id="groupid" name="groupid"/> <br>
        <label for="nighttitle">Night Title:</label>
        <input type="text" id="nighttitle" name="nighttitle"/> <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"/> <br>
        <label for="activitynightdate">Activity Night Date:</label>
        <input type="date" id="activitynightdate"/><br>
        <input type="submit"/>
        <input type="reset"/>
</form>
{% endblock %}