<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Requrired meta tags-->
        <meta charset="utf-8" />
        <!--Mobile optimization-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <img src="{{url_for('static', filename='images/pictureYouth.jpg')}}">
            <h1>Youth.Org</h1>
            <a href="{{ url_for('youth') }}" class="navbar-item">Youth</a>
            <a href="{{ url_for('adultlogin') }}" class="navbar-item">Adult Login</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>Maria Lucia del Campo© 2021</p>
            </footer>
        </div>
    </body>
</html>